#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-bottom: 50px;
    
}
#container>div{
    border: 1px solid black;
}
#paginationwrap{
    text-align: center;
    margin: 10px;
}